# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=

# Vite client-accessible mappings
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Server Configuration
NODE_ENV=
PORT=
