API_PREFIX=
DB_CONNECTION_LIMIT=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
JWT_REFRESH_SECRET=
JWT_SECRET=
LOG_FORMAT=
LOG_LEVEL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=